*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

input::-ms-clear{
  display: none;
}

a{
  color: #fff;
}
button::-moz-focus-inner{
  padding: 0;
  border: 0;
}

hr{
  border: 0;
  margin: 40px 0;
  display: block;
  background-color: #969696;

  width: 100%;
  height: 1px;
}
/*------------*/

:root{
  --index: calc(1vw + 1vh);
}

body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;

  color: #fff;
  letter-spacing: 0.5px;

  background: url('../img/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.disable-scrolling{
  overflow-y: hidden;
}


::-webkit-scrollbar {
  width: 5px; /* ширина для вертикального скролла */
  height: auto; /* высота для горизонтального скролла */
  background-color: #D8D3F7;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

.header{
  background-color: #090909;
  box-shadow: 0 10px 20px #090909;

  height: 15vh;
  width: 100%;
  z-index: 999;
  position: fixed; 
}

.logo-wrapper{
  width: 30%;
}

.header-inner{
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.forma{
  width: 70%;
  display: flex;
}

.form-input{
  padding: 55px 0px 0px 10px;
  font-size: calc(var(--index) * 0.7);
  color: #fff;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #434343;
}

.btns {
  width: 30%;
  border-radius: 10px 0 0 0;
  font-size: calc(var(--index) * 0.8);
  font-weight: 900;
  font-weight: bold;

  padding: 20px 40px;

  background: #090909;;
  color: #fff;
  border: 1px solid #434343;

  transition: all .2s ease-in-out;
}

.btns:hover{
  background-color: #fff;
  color: #090909;
}

/*--- ---*/

.main{
  position: relative;
  top: 30%;
}

#emptyList{
  font-weight: 200;
  font-size: calc(var(--index) * 2);
  color: #D6D6D6;
  opacity: 0.1;
  user-select: none;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.task-wrapper{
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}

#emptyList{
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.task{
  position: relative;
  padding: 30px;
  margin-bottom: 55px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #434343;
  border-radius: 5px 0px 5px 5px;
}

.task-button__wrapper{
  position: absolute;
  right: -1px;
  top: -62px;
}

.task-button{
  background-color: transparent;
  opacity: 0.8;
  transition: all .2s ease-in-out;
}

.task-button:hover{
  opacity: 1;
  transform: scale(1.02);
}

.task-text{
  font-size: calc(var(--index) * 0.8);
  font-weight: 500;
  line-height: 1.2;
  transition: all .2s linear;
}

.task-text--done {
  opacity: 0.4;
  text-decoration: line-through;
}

.task-button img {
  pointer-events: none;
}

.none {
  display: none !important;
}

/*--- edit-popup ---*/
.edit-popup{
  position: absolute;
  padding: 30px;
  top: 0;
  left: 0;
  width: 70vw;
  height: 50vh;
  border-radius: 10px;
  background-color: #090909;
  box-shadow: 0 0 20px #1E1E1E;
  z-index: 999;

  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.background-popup.active{
  display: block;
}

.textarea{
  width: 100%;
  padding: 15px;
  resize: none;
  color: #fff;
  border-radius: 5px;
  background-color: #0E0E0E;

  font-size: calc(var(--index) * 0.83);
  font-weight: 200;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.button-save{
  display: flex;
  margin: 0 auto;
  
  font-size: calc(var(--index) * 0.8);
  font-weight: 200;
  letter-spacing: 1px;
  background-color: #1E1E1E;
  color: #fff;
  padding: 15px 30px;
  border-radius: 8px 2px 8px 2px;
  border: 1px solid transparent;

  transition: all .2s ease-in-out;
}

.button-save:hover{
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.task{
  transform: translateX(0px);
  transition: all .7s cubic-bezier(.65,-0.32,1,1.37);
}

.inactive-1{
  transform: translateX(-1000px) scale(0.0);
  opacity: 0;
}

.inactive-2{
  transform: translateX(1000px) scale(0.0);
  opacity: 0;
}

.inactive-3{
  transform: scale(0.1);
  opacity: 0;
}

.background-popup{
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  z-index: 999;
  position: fixed;
}

/*--- ADAPTIVE ---*/
@media (max-width: 1100px){
  .header-logo{
    width: 120px;
    height: 60px;
  }

  .edit-popup {
    padding: 30px;
    height: 47vh;
  }

  .textarea{
    margin-bottom: 25px;
  }
}

@media (max-width: 801px){
  .btns{
    padding: 20px 10px;
  }

  .textarea{
    margin-bottom: 10px;
  }

  .form-input{
    font-size: calc(var(--index) * 0.9);
  }

  .form-input::placeholder{
    font-size: calc(var(--index) * 0.9);
  }

  .edit-popup {
    padding: 30px;
    height: 40vh;
  }
}

@media (max-width: 565px){
  /*Header*/
  .header-inner{
    align-items: flex-end;
  }

  /*Logo*/
  .header-logo{
    width: 80px;
    height: 40px;
  }

  .logo-wrapper {
    width: 20%;
  }

  /*Forma*/
  .form-input {
    padding: 40px 0px 0px 10px;
    font-size: calc(var(--index) * 1);
  }

  .form-input::placeholder{
    font-size: calc(var(--index) * 0.9);
  }

  .btns {
    padding: 0px;
    width: 40%;
  }

  /*Task*/
  .task-wrapper{
    gap: 15px;
    grid-template-columns: 1fr;
  }

  .task-button__wrapper {
    top: -41px;
  }

  .task-button{
    width: 40px;
    height: 40px;
  }

  .button-img{
    width: 40px;
    height: 40px;
  }

  .task{
    padding: 20px;
  }

  .task-text{
    font-size: calc(var(--index) * 1.2);
  }

  .edit-popup {
    padding: 15px;
    width: 90vw;
    height: 38vh;
  }

  .textarea {
    margin-bottom: 15px;
  }

  .button-save{
    font-size: calc(var(--index) * 1);
  }
}

@media (max-width: 480px){
  .main{
    top: 25%;
  }

  .forma{
    width: 75%;
  }

  .form-input {
    padding: 30px 0px 0px 5px;
  }

  .textarea{
    font-size: calc(var(--index) * 1.3);
  }

  .edit-popup {
    padding: 15px;
    height: 50vh;
  }

  .button-save {
    font-size: calc(var(--index) * 1.2);
  }
}

@media (max-width: 457px){
  /*Heder*/
  .header-inner{
    display: block;
  }

  .logo-wrapper {
    width: 100%;
  }

  .header-logo {
    width: 80px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*Main*/
  .main {
    top: 30%;
  }

  /*Forma*/
  .forma {
    width: 100%;
  }

  .edit-popup{
    height: 44vh;
  }



  .form-input{
    font-size: calc(var(--index) * 1.3);
  }

  .form-input::placeholder{
    font-size: calc(var(--index) * 1);
  }
}

@media (max-width: 385px){
}